<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <img src="assets/user.gif" width="45" alt="" class="me-2">

        <a class="navbar-brand" routerLink="clients">Gestion des clients </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="clients">Liste des clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  routerLink="dashboard">Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
</nav>