<div class="widget-container">
    <div class="widget pink">
      <div class="value row">
        <div class="col">
          <div class="top">{{ totalClients }}</div>
          <div class="bottom">Nombre total des clients</div>
        </div>
      </div>
    </div>
    <div class="widget green">
      <div class="value row">
        <div class="col">
          <div class="top">{{ newClients }}</div>
          <div class="bottom">Total nouveaux clients</div>
        </div>
      </div>
    </div>
  </div>
  