<div class="widget-container">
    <div class="widget pink">
        <div class="value row ">
            <img src="assets/nouveau.png" alt="" width="10" height="100" class="col ">
            <div class="col">
            <div class=" top">350</div>
            <div class="bottom">Nombre total des clients</div>
            </div>
        </div>
    </div>
    <div class="widget green">
        <div class="value row ">
            <img src="assets/total.png" alt="" width="40" height="80" class="col ">
            <div class="col">
            <div class=" top">160</div>
            <div class="bottom">total nouveaux clients</div>
        </div>
        </div>
    </div>
    <div class="widget red">
        <div class="value row ">
            <img src="assets/quitte.png" alt="" width="40" height="80" class="col ">
            <div class="col">
            <div class=" top">60</div>
            <div class="bottom">clients perdus</div>
            </div>
        </div>
    </div>
</div>