.widget-container {
    display: flex;
    align-items: space-between;
    .widget {
        width: 100px;
        height: 130px;
        background-color: #fff;
        border-radius: 10px;
        color: #000000;
        margin: 10px;
        box-shadow: 5px 5px 5px #777676;
        display: flex;
        align-items: center;
        padding: 20px;
        &.pink{
            background: linear-gradient(to left, #f4c4f3, #f48cf2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
        &.red{
            background: linear-gradient(to left, #f4c4f3, #f48cf2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
        &.green{
            background: linear-gradient(to right, #b4b4e8, #a7bde7, #91eae4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
        @media only screen and (max-width: 1600px){
            width: 1280px;
        }
        @media only screen and (max-width: 1500px){
            width: 1180px;
        }
        @media only screen and (max-width: 1400px){
            width: 1080px;
        }
        @media only screen and (max-width: 1200px){
            width: 980px;
        }
        .top{
            font-size: 30px;
            @media only screen and (max-width: 1200px){
                width: 26px;
            }
        }
        .bottom{
            font-size: 20px;
            margin-top: 10px;
            @media only screen and (max-width: 1200px){
                width: 16px;
            }
        }
    }
}