<div class="widget-container">
    <div class="widget pink">
        <div class="value row ">
            <div class="col">
            <div class=" top">350</div>
            <div class="bottom">Nombre total des clients</div>
            </div>
        </div>
    </div>
    <div class="widget green">
        <div class="value row ">
            <div class="col">
            <div class=" top">160</div>
            <div class="bottom">total nouveaux clients</div>
        </div>
        </div>
    </div>
    <div class="widget red">
        <div class="value row ">
            <div class="col">
            <div class=" top">60</div>
            <div class="bottom">clients perdus</div>
            </div>
        </div>
    </div>
</div>