<body>
    <div class="container">
        <div class="mt-4 align-items-center justify-content-center">
         
            <div class="text-center">
                <h2 class="text-light fs-2 fw-bold">Liste des clients</h2>
            </div>
        </div>
        <div>
            <app-create></app-create>
        </div>

        <div class="input-group mb-4" style="width: 200px;">
            <div class="form-outline" data-mdb-input-init>
                <input id="search-focus" type="search" id="form1" class="form-control" matInput
                    (keyup)="filter($event)" />
                <label class="form-label" for="form1" style="color: #ac4ca2;">Search</label>
            </div>
            <button type="button" class="btn" style="background-color: #D879CF;" data-mdb-ripple-init>
                <i class="bi bi-search text-light"></i>
            </button>
        </div>

        <table mat-table [dataSource]="clients" class="mat-elevation-z8" #mytable matSort>
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let  row; columns: columns;"></tr>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
                <td mat-cell *matCellDef="let t">{{t.name}}</td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell *matCellDef="let t">{{t.email}}</td>
            </ng-container>
            <ng-container matColumnDef="adress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresse</th>
                <td mat-cell *matCellDef="let t">{{t.adresse}}</td>
            </ng-container>
            <ng-container matColumnDef="tel">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Telephone</th>
                <td mat-cell *matCellDef="let t">{{t.tel}}</td>
            </ng-container>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                <td mat-cell *matCellDef="let t">
                    <app-edit [clientId]="t.id"></app-edit>
                    <button type="button" (click)=" deleteClient(t.id)" class="btn btn-default">
                <img src="assets/delete.gif" width="30">                    
                </button>

                </td>
            </ng-container>

        </table>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>
</body>